<div class="posts">
    <div class="posts-title">
        <div class="posts-title__left">
            <button (click)="onUser()" >{{ post.userName }}</button>
            <p>Le {{ post.createdAt | date: "d MMMM yyyy à HH:mm" }}</p>
        </div>
        <div class="posts-title__right" *ngIf="changePossible === true">
            <button (click)="onViewPost()"><i class="fa-solid fa-eye"></i></button>
        </div>
    </div>

    <p class="posts-content">{{ post.content }}</p>

    <img class="posts-media" *ngIf="post.media" [src]="post.media" alt="image de post">

    <div class="posts-opinions">
        <div class="posts-opinions__others">
            <p><i class="fa-solid fa-heart"></i> {{ post.likes }}</p>
            <button (click)="allCommentsPost()" *ngIf="this.post.comments.length > 0">{{ buttonTextComments }}</button>
        </div>
        <div class="posts-opinions__myself">
            <button class="green" (click)="onLike()">{{ buttonTextLike }}</button>
        </div>
    </div>

    <!-- []= "", permet de donner cette data à l'enfant (utilisable via @input après) -->
    <app-create-comment (newCommentEvent)="addComment($event)" [post]="post"></app-create-comment>

    <div *ngIf="comments">
        <div *ngFor="let comment of reverseReadDataComments" >
            <app-comment *ngIf="comment.postId === post.postId" [comment]="comment">{{ comment }}</app-comment>
        </div>
    </div>
</div>
