$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    background-color: white;
    margin: 0 auto 10px;
        &-title {
            padding: 10px 10px 5px;
            font-size: 1.1rem;
            display: flex;
            justify-content: space-between;
            &__left {
                button {
                    background: none;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                }
                p {
                    font-size: 0.9rem;
                    padding-left: 5px;
                }
            }
            &__right {
                button {
                    font-size: 1.5rem;
                    background: none;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        &-content {
            padding: 0 15px;
        }
        
        &-media {
            width: 100%;
        }
        &-opinions {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__others {
                display: flex;
                align-items: center;
                column-gap: 10px;
                button {
                    font-weight: 300;
                    background-color: white;
                    border: none;
                    font-style: italic;
                }
            }
            &__myself {
                button {
                    width: 95px;
                    color: white;
                    background-color: green;
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
}

@media screen and (min-width: 768px) {
    .posts {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .posts {
        width: 35%;
    }
}


