$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.accueil-img {
    width: 60%;
    img {
        width: 100%;
    }
}

.accueil-login {
    width: 80%;
    padding: 70px 25px 80px;
    background: linear-gradient(207deg, white, $primary 150%);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: relative;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.287);
    &__icon {
        position: absolute;
        top: -50px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: fit-content;
        padding-top: 20px;
        height: 100px;
        width: 100px;
        background-color: $primary;
        border: 3px solid white;
        i {
            font-size: 50px;
            color: white
        }
    }
    form {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .form-input {
            &__title {
                display: flex;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.287);
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $tertiary;
                    padding: 20px;
                    font-size: 18px;
                    width: 70px;
                    color: white;
                }
                input {
                    padding: 15px;
                    width: 100%;
                    font-size: 18px;
                    border: none;
                }
            }
        }
    }
}

.require {
    color: $tertiary;
    padding: 5px;
    height: 25px;
}

.form-signup {
    padding: 45px 0 15px;
    text-align: center;
}

.form-btn {
    position: absolute;
    width: 100%;
    bottom: -105px;
    button {
        padding: 15px;
        border: none;
        background-color: $primary;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 1.1rem;
        &:disabled {
            cursor: default;
            background-color: rgba(253,45,1,0.5);
        }
    }
}

@media screen and (min-width: 768px) {
    .accueil-img {
        width: 20%;
        img {
            width: 100%;
        }
    } 

    .accueil-login {
        width: 30%;
    }
}

