$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

.formComment {
    width: 100%;
    margin-bottom: 10px;
    form {
        padding: 15px 10px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        .form-left {
            display: flex;
            flex-direction: column;
            width: 65%;
            row-gap: 5px;
            label {
                font-size: 1.1rem;
            }
            textarea {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $tertiary;
                font-size: 1.1rem;
                &:focus {
                    outline: none;
                }
            }
            input {
                width: 100%;
                color: $tertiary;
                font-size: 0.9rem;
            }
        }
        .form-right {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            .form-btn {
                display: flex;
                justify-content: center;
                width: 95px;
                button {
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                    background-color: $primary;
                    color: white;
                    cursor: pointer;
                    width: 95px;
                    &:disabled {
                        cursor: default;
                        background-color: rgba(253,45,1,0.5);
                    }
                }
            }
        }
    }
    .img-comment {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 10px 0;
        margin: auto;
        img {
            width: 100%;
        }
    }
}
