<div class="formComment">
    <form [formGroup]= "commentForm">
        <div class="form-left">
            <div>
                <label for="content">Contenu :</label>
                <textarea formControlName="content" id="content" cols="15" rows="1" placeholder="Commenter" required ></textarea>
            </div>
            <div>
                <label for="media">Media :</label>
                <input type="file" formControlName="media" id="media" (change)="readUrl($event)" required >
            </div>
        </div>

        <div class="form-right">
            <div class="form-btn" (click)="onComment()">
                <button [disabled]="content.errors?.['required'] && media.errors?.['required']">Publier</button>
            </div>
        </div>
    </form>
    <div class="img-comment">
        <img [src]="url" >
    </div>
</div>
