$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

.comment-modify {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 30px 10px 10px;
    margin: 70px auto 0;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        width: 85%;
        .content-before {
            padding-bottom: 10px;
            p {
                color: white;
                padding-bottom: 5px;
                span {
                    text-decoration: underline;
                }
            }
            textarea {
                width: 100%;
                padding: 7px;
                border-radius: 7px;
                border: white 1px solid;
                background-color: $tertiary;
                color: white;
                font-size: 1.1rem;
                &:focus {
                    outline: none;
                }
            }
        }
        .img-before {
            p {
                color: white;
                padding-bottom: 5px;
                text-decoration: underline; 
            }
            img {
                width: 100%;
            }
            input {
                color: white;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
        }
        
        
        .img-comment {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .form-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                padding: 15px;
                border: none;
                background-color: $primary;
                color: white;
                cursor: pointer;
                width: 100%;
                font-size: 1.1rem;
                &:disabled {
                    cursor: default;
                    background-color: rgba(253,45,1,0.5);
                }
            }
        }
    }
}

.comment-delete {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 30px 10px 10px;
    margin: 20px auto 0;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        width: 85%;
        input {
            width: 100%;
            padding: 7px;
            border-radius: 7px;
            border: white 1px solid;
            background-color: $tertiary;
            color: white;
            font-size: 1.1rem;
            &:focus {
                outline: none;
            }
        }
        .form-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                padding: 15px;
                border: none;
                background-color: $primary;
                color: white;
                cursor: pointer;
                width: 100%;
                font-size: 1.1rem;
                &:disabled {
                    cursor: default;
                    background-color: rgba(253,45,1,0.5);
                }
            }
        }
    }
}


.require {
    color: white;
    padding: 5px 0 0 15px;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .comment-modify, .comment-delete {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .comment-modify, .comment-delete {
        width: 35%;
    }
}