$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

.formPost {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        width: 85%;
        label {
            color: white;
            font-size: 1.1rem;
        }
        textarea {
            width: 100%;
            padding: 7px;
            border-radius: 7px;
            border: white 1px solid;
            background-color: $tertiary;
            color: white;
            font-size: 1.1rem;
            &:focus {
                outline: none;
            }
        }
        input {
            color: white;
            &:focus {
                outline: none;
            }
        }
        .img-post {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .form-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                padding: 15px;
                border: none;
                background-color: $primary;
                color: white;
                cursor: pointer;
                width: 100%;
                font-size: 1.1rem;
                &:disabled {
                    cursor: default;
                    background-color: rgba(253,45,1,0.5);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .formPost {
        width: 40%;
        form {
            width: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    .formPost {
        width: 35%;
        form {
            width: 100%;
        }
    }
}
