$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 25px;
    &-left {
        display: flex;
        align-items: center;
        column-gap: 15px;
        &__logo {
            width: 45px;
            img {
                width: 100%;
            }
        }
        h1 {
            color: white;
            font-size: 1.5rem;
        }
    }
    &-right {
        display: flex;
        align-items: center;
        column-gap: 15px;
        &__disconnect, &__profil {
            display: flex;
            justify-content: center;
            button {
                padding: 15px;
                border-radius: 50px;
                border: solid 1px white;
                color: white;
                background-color: $tertiary;
                cursor: pointer;
                width: 100%;
                font-size: 1rem;
            }
        }
    }
}