<main>
    <div class="top">
        <div class="top-logo">
            <img src="../assets/logo-simple.png" alt="Icône de groupomania">
        </div>
        <div class="top-hello">
            <h1>Bonjour {{ userFound }} !</h1>
        </div>
    </div>

    <div class="bottom">
        <div *ngIf="adminFound === 'YES'" class="admin">
            <p>Admin</p>
        </div>
        <div>
            <button (click)="onContinue()"><i class="fa-solid fa-house"></i></button>
        </div>
        <div>
            <button (click)="onUserPage()"><i class="fa-solid fa-user"></i></button>
        </div>
        <div>
            <button (click)="onLogout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
    </div>
</main>





