$primary : rgba(253,45,1,255);
$secondary: rgba(255,215,215,255);
$tertiary: rgba(17,35,65,255);

// post
.post{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: white;
    border-radius: 10px;
    width: 65%;
    margin: auto;
        &-header {
            padding: 10px 25px;
            display: flex;
            justify-content: space-between;
            font-size: 1.1rem;
            &__title-created, &__title-updated {
                font-size: 0.9rem;
            }
            &__btn {
                button {
                    width: 200px;
                    font-size: 0.9rem;
                }
            }
        }
        &-media {
            width: 100%;
        }
        &-text {
            padding: 15px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
}

.post-changes__formModify {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        margin: auto;
        div {
            display: flex;
            flex-direction: column;
        }
        label {
            font-size: 1rem;
        }
        textarea {
            padding: 5px;
            font-size: 1rem;
            background-color: $tertiary;
            color: white;
            border: none;
        }
        .form-btn {
            display: flex;
            justify-content: center;
            margin: auto;
            button {
                padding: 10px;
                border-radius: 15px;
                border: none;
                background-color: green;
                color: white;
                cursor: pointer;
                width: 100%;
                font-size: 1.1rem;
                &:disabled {
                    cursor: default;
                    background-color: $primary;
                }
            }
        }
    }
}

.post-changes__formDelete form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 400px;
    margin: auto;
    label {
        color: $tertiary;
        padding-left: 20px;
        font-size: 1.1rem;
    }
    input {
        margin-top: 5px;
        padding: 15px;
        border-radius: 50px;
        width: 100%;
        font-size: 1.1rem;
    }
    .form-btn-black {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        button {
            padding: 15px;
            border-radius: 50px;
            border: none;
            background-color: green;
            color: white;
            cursor: pointer;
            width: 100%;
            font-size: 1.1rem;
            &:disabled {
                cursor: default;
                background-color: black
            }
        }
    }
}

.require {
    color: $primary;
    padding: 5px 0 0 15px;
    height: 50px;
}