<div class="post" *ngIf="post">
    <div class="post-header">
        <div class="post-header__title">
            <p class="posts-header__title-user">{{ post.user.name }}</p>
            <p class="post-header__title-created">Publiée le {{ post.createdAt | date: "d MMMM yyyy à HH:mm" }}</p>
            <p class="post-header__title-updated">Modifiée le {{ post.updatedAt | date: "d MMMM yyyy à HH:mm" }}</p>
        </div>
        <div class="post-header__btn">
            <button (click)="onContinue()">Retour à la page principale</button>
        </div>
    </div>

    <img class="post-media" *ngIf="post.media" [src]="post.media" alt="image de post">

    <div class="post-text">
        <p class="post-text__content">{{ post.content }}</p>
    </div>

    <div class="post-changes" *ngIf="changePossible === true">
        <div class="post-changes__formModify" >
            <form [formGroup]= "modifyForm">
                <div>
                    <textarea formControlName="contentModify" id="contentModify" cols="15" rows="1" placeholder="Modifier la publication ?" required ></textarea>
                </div>
                <div>
                    <input type="file" id="mediaModify" (change)="readUrl($event)" required >
                </div>
                <div>
                    <img [src]="url" >
                </div>
                <div class="form-btn">
                    <button (click)="onModify()">Modifier</button>
                </div>
            </form>
        </div>
    
        <div class="post-changes__formDelete">
            <form [formGroup]= "deleteForm">
                <div>
                    <label for="deleteName">Nom d'utilisateur :</label>
                    <input type="text" formControlName="deleteName" id="deleteName" placeholder="Supprimer ce post ?" required >
                </div>
                <div class="require">
                    <p *ngIf="deleteName.errors?.['required']" ><i class="fa-solid fa-triangle-exclamation"></i> Ce champ est requis pour la suppression</p>
                </div>
                <div class="form-btn-black">
                    <button (click)="onDelete(post.postId)" [disabled]="deleteName.errors?.['required']" >Supprimer ce post</button>
                </div>
                <div class="require">
                    <p *ngIf="deleteError" ><i class="fa-solid fa-triangle-exclamation"></i> Vous ne pouvez supprimer ce post avec ce nom</p>
                </div>
            </form>
        </div>
    </div>
</div>