<app-header></app-header>

<div class="post-modify" *ngIf="post">
    <form [formGroup]= "modifyForm">
        <div class="content-before">
            <p><span>Contenu actuel :</span> {{ post.content }}</p>
            <textarea formControlName="contentModify" id="contentModify" cols="15" rows="2" placeholder="Modifier le texte ?" required ></textarea>
        </div>
        <div class="img-before">
            <p *ngIf="post.media">Image actuelle :</p>
            <img class="posts-media" *ngIf="post.media" [src]="post.media" alt="image de post">
            <input type="file" formControlName="mediaModify" id="mediaModify" (change)="readUrl($event)" required >
        </div>
        <div class="img-post">
            <img [src]="url" >
        </div>
        <div class="form-btn">
            <button (click)="onModify()" [disabled]="contentModify.errors?.['required'] && mediaModify.errors?.['required']">Modifier</button>
        </div>
    </form>
</div>
    
<div class="post-delete">
    <form [formGroup]= "deleteForm">
        <div>
            <input type="text" formControlName="deleteName" placeholder="Nom d'utilisateur" required >
        </div>
        <div class="require">
            <p *ngIf="deleteName.errors?.['required']" ><i class="fa-solid fa-triangle-exclamation"></i> Ce champ est requis pour la suppression</p>
        </div>
        <div class="form-btn">
            <button (click)="onDelete(post.postId)" [disabled]="deleteName.errors?.['required']" >Supprimer ce post</button>
        </div>
        <div class="require">
            <p *ngIf="deleteError" ><i class="fa-solid fa-triangle-exclamation"></i> Vous ne pouvez supprimer ce post avec ce nom</p>
        </div>
    </form>
</div>