<div class="comments">
    <div class="comments-title">
        <div class="comments-title__left">
            <button (click)="onUser()" >{{ comment.userName }}</button>
            <p>Le {{ comment.createdAt | date: "d MMMM yyyy à HH:mm" }}</p>
        </div>
        <div class="comments-title__right" *ngIf="changePossible === true">
            <button (click)="onViewComment()"><i class="fa-solid fa-eye"></i></button>
        </div>
    </div>

    <p class="comments-content">{{ comment.content }}</p>

    <img class="comments-media" *ngIf="comment.media" [src]="comment.media" alt="image de comment">

    <div class="comments-opinions">
        <div class="comments-opinions__others">
            <p><i class="fa-solid fa-heart"></i> {{ comment.likes }}</p>
        </div>
        <div class="comments-opinions__myself">
            <button class="green" (click)="onLike()">{{ buttonTextLike }}</button>
        </div>
    </div>
</div>
